[submodule "third_party/capstone"]
	path = third_party/capstone
	url = https://github.com/capstone-engine/capstone.git
[submodule "third_party/LIEF"]
	path = third_party/LIEF
	url = https://github.com/lief-project/LIEF.git
